<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class='container mb-4'>
    <div class='row text-center my-4'>
        <h4 class='recipe-title'><%= recipe.label %></h4>
    </div>
    <div class='row'>
        <div class='col-md-6'>
            <div class='recipe-img d-flex justify-content-center'>
                <img class='img-fluid rounded' src="<%= recipe.image %>" alt="<%= recipe.label %>">
            </div>
        </div>
        <div class='col-md-6 p-0'>
            <div class='card'>
                <div class='card-header fw-bold'>Ingredients</div>
                <div class='card-body'>
                    <p class='card-subtitle text-body-secondary fs-6'>Here is a list of all the ingredients you will need!</p>
                    <% if (recipe.ingredientLines.length > 0) { %>
                        <ul class='list-group list-group-flush'>
                            <% recipe.ingredientLines.forEach((ingredient) => { %>
                                <li class="list-group-item"><%- ingredient %></li>
                            <% }); %>
                        </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footnote') %>
<%- include('partials/footer') %>